@import "tailwindcss";


.primary {
  color: #f09744;
}
.secondary {
  color: #a53f10;
}
.bg-primary {
  background-color: #f09744;
}
.bg-secondary {
  background-color: #a53f10;
}
.text-primary {
  color: #f09744;
}

/* reglas hover (usar estas clases directamente) */
.hover-text-secondary:hover {
  color: #f09744;
}
.hover-bg-secondary:hover {
  background-color: #f09744;
}
.hover\:bg-secondary:hover {
  background-color: #a53f10;
}
.hover\:text-secondary:hover {
  color: #a53f10;
}

.text-shadow {
  text-shadow: 2px 2px 0 #fd9431;
}