---
import "../styles/global.css";
import Navbar from "../components/Navbar/NavBar.astro";
import Footer from "../components/Footer/Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>AstroGym</title>
	</head>
	<body class="bg-gray-950 text-white">
		<Navbar />
		<slot />
		<Footer />

		<style is:global>
			html {
				font-family: system-ui, sans-serif;
				scroll-behavior: smooth;
			}

			body {
				margin: 0;
				padding: 0;
			}

			@media (prefers-reduced-motion: reduce) {
				html {
					scroll-behavior: auto;
				}
			}
		</style>
	</body>
</html>
